<form class="login-form" action="/sessions" method="post">
  <div>
    <input type="text" name="username">
    <label>Username</label>
  </div>
  <div>
    <input type="password" name="password">
    <label>Password</label>
  </div>
  <div>
    <input type="submit" value="Login!">
  </div>
</form>
