.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body{
  background-color: #666666;
}

table{
  background-color: #2CB674;
}

ul.nav {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

li.nav {
  padding-left: 1em;
  padding-right: 1em;
  border-right: #2CB674 1px solid;
  float: left;
}

  li.nav:first-of-type {
    padding-left: 0;
  }

  li.nav:last-of-type {
    padding-right: 0;
    border-right: none;
  }

header {
  margin: 0 auto;
  overflow: auto;
  background-color: #221F3E;
  height: 200px;
}

div.logo-container{
  vertical-align: bottom;
}

img#logo {
    height: 175px;
    width: auto;
    padding: 0;
    margin: 0;
    float: left;
}

a{
  color: #2CB674;
}
