
<div class="plants">
  <h2>Living Plants</h2>
    <% living_plants.each do |plant| %>
    <%= erb :'/plants/_block', locals: {plant: plant} %>
    <% end %>

  <h2>Dead Plants</h2>
  <table>
    <% dead_plants.each do |plant| %>
    <%= erb :'/plants/_block', locals: {plant: plant} %>
    <% end %>
</div>
